<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arun Icecreams</title>
</head>
<body>
    {%load static%}
    <h1 style="font-family: algerian;color: crimson;text-align: center;">Arun Icecreams</h1>
   <p style="font-family: 'Times New Roman', Times, serif;font-size: larger;"> Arun Icecreams is a leading South Indian ice cream brand owned by Hatsun Agro Product Ltd. Launched to make quality ice creams widely accessible, it has grown into one of India’s largest retail ice cream chains with thousands of exclusive parlors, especially in Tamil Nadu, Karnataka, Andhra Pradesh, Telangana, and Kerala.</p>

<p style="font-family: 'Times New Roman', Times, serif;font-size: larger;">The brand is known for its wide flavor range—from classics like chocolate, vanilla, and strawberry to Indian favorites such as kulfi, pista, and mango. It also offers sundaes, cones, choco bars, and ice cream cakes, constantly introducing seasonal and innovative options.</p>

<p style="font-family: 'Times New Roman', Times, serif;font-size: larger;">What sets Arun apart is its exclusive outlets, ensuring freshness and strong brand presence even in small towns, making it a family-friendly hangout spot. Over the decades, Arun Icecreams has built strong customer trust through consistency, hygiene, affordability, and nostalgic appeal—transforming itself from a local favorite to a household name across South India.</p>
<center><img src="{% static 'arunicecream.jpg' %}" style="height: 450px;" ></center>
</body>
</html>