<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>National Highway 32</title>
</head>
<body bgcolor="beige">
    {% load static %}
    <h2 style="color: blueviolet;font-family: algerian;">What is NH-32</h2>
    <p style="font-family: 'Times New Roman', Times, serif;font-size: larger;">National Highway 32 (NH-32) is one of the important national highways in India, running almost entirely along the eastern coastline of Tamil Nadu and a part of Puducherry. It stretches for about 657 kilometers, starting from Chennai in the north and ending at Thoothukudi in the south. The road is sometimes considered an extension of the East Coast Road, as it closely follows the Bay of Bengal, giving travelers scenic views along with vital connectivity.</p>
    <h2 style="color: blueviolet;font-family: algerian;">Route</h2>
    <p style="font-family: 'Times New Roman', Times, serif;font-size: larger;">The highway begins in Chennai and passes through Tambaram, Chengalpattu, Tindivanam, Puducherry, Cuddalore, and Chidambaram. Further down, it continues through Nagapattinam, Velankanni, Thiruthuraipoondi, Muthupet, Thondi, and Ramanathapuram before finally reaching the port city of Thoothukudi. Along the way, it links several smaller coastal towns and fishing settlements, serving as a lifeline for local communities.</p>
    <h2 style="color: blueviolet;font-family: algerian;">Development and upgradation</h2>
    <p style="font-family: 'Times New Roman', Times, serif;font-size: larger;">
        The government has been investing in widening and modernizing NH-32. Many stretches are being upgraded to four-lane roads to handle heavy traffic and improve travel time. There are also proposals to extend the highway from Thoothukudi down to Kanyakumari, further strengthening coastal connectivity. One notable modern initiative is the use of IoT-enabled streetlights along the Tambaram–Tindivanam section, aimed at saving power and improving road safety.
    </p>
   <center> <img src="{% static 'nh32.jpg' %}" style="border-radius: 20px;"> </center>
</body>
</html>